@import "../../../assets/mixins.scss";
@import "../../../assets/colors.scss";

.topnav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;

  .topnav-content {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: $white;
    border-bottom: 1px solid $light-gray;
    .items {
      display: flex;
      align-items: center;
    }
    .dp-icon {
      margin-right: 12px;
    }

    .lang {
      margin-right: 10px;
    }
    .dp,
    .en {
      display: flex;
      align-items: center;
      margin-left: 22px;
    }
    .en {
      margin-right: 38px;
    }
  }
  .toggle {
    display: none;
  }
  @media screen and (max-width: 767px) {
    left: 0;
    .topnav-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .toggle {
        display: block;
        margin-left: 32px;
      }
    }
  }
  @media screen and (max-width: 400px) {
    .topnav-content {
      .toggle {
        margin-left: 22px;
      }
      .en {
        margin-right: 22px;
      }
    }
  }
}
