$white: #ffffff;
$klashawhite: #fffbf7;
$black-400: #8d8d8d;
$shade-black: #0a0a0a;
$pink-500: #ef2c5a;
$black: #000000;
$light-gray: #ededed;
$grey-700: #565c69;
$grey-100: #f0f0f0;
$black-600: #5f5f5f;
$black-700: #484848;
$grey-200: #f4f4f4;
