@mixin text($fontweight, $fontsize, $lineheight, $color, $opacity: 1) {
  font-style: normal;
  font-weight: $fontweight;
  font-size: $fontsize;
  line-height: $lineheight;
  color: $color;
  opacity: $opacity;
}

@mixin customScroll {
  scrollbar-width: thin;
  scrollbar-color: #f3f4f8 #f3f4f8;
  /* width */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f3f4f8;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f3f4f8;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f3f4f8;
  }
}
