@import "./assets/colors.scss";

.router-container {
  margin: 64px 0 0 0;
  min-height: 90vh;
  background-color: $white;
  width: 100%;
  .content {
    margin-left: 280px;
    padding: 104px 32px 64px 32px;
  }
  @media screen and (max-width: 767px) {
    .content {
      margin-left: 0;
      padding: 44px 20px 64px 20px;
    }
  }
  @media screen and (max-width: 300px) {
    .content {
      margin-left: 0;
      padding: 44px 10px 64px 10px;
    }
  }
}
